.square {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color:black ;
}

.grid {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 618px;
    height: 618px;
}

.bug {
    background-image: url('../media/bee.png');
    background-size: cover;
}

body {
    background-image: url('../media/meadow.jpg');
    background-size: cover;
    cursor: url('../media/swatter.png'), auto;
}
